@-moz-document url-prefix("https://mail.google.com/mail") {
/*//GOOGLE DRAWER//*/
    /*borders*/
    .gb_z, .gb_h:hover a {
        border: 1px solid #333
    }
    /*background*/
    .gb_C, .gb_z {
        background: #111 !important;
    }
    /*google app hover*/
    .gb_h:hover .gb_m, .gb_T:hover .gb_X, .gb_T:hover .gb_O {
        background: #212121;
    }
    .gb_Z:hover a, .gb_T:hover a {
        border: 1px solid #212121;
    }
    /*text color*/
    .gb_m, #gb a.gb_D, .gb_z, #gb a.gb_E {
        color: #ffffff;
    }
    /*more*/
    .gb_D, .gb_E {
        background: #212121;
    }
    /*separator*/
    .gb_E {
        border-bottom: 1px solid #212121;
        left: 0;
        width: auto;
    }
    /*marketplace apps notice*/
    .gb_I div.gb_K {
        background: #212121;
    }
    /*account name*/
    .gb_Eb, .gb_9a.gb_ab {
        color: #e0e0e0;
    }
    /*account email*/
    .gb_bb, .gb_Fb {
        color: @text-color-b;
    }
    /*hyperlinks*/
    #gb .gb_Za.gb_Za a {
        color: @button-bg;
    }
    /*account select subaccounts*/
    .gb_qb {
        background: #161616;
        border-top-color: #333;
    }
    .gb_ub:hover {
        background: unset;
        box-shadow: inset 200px 200px rgba(255, 255, 255, .06);
    }
    .gb_ub:active {
        background: unset;
        box-shadow: inset 200px 200px rgba(255, 255, 255, .12);
    }
    /*account menu buttons*/
    #gb a.gb_0.gb_0 {
        border: 0;
        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        background: transparent;
        border: 1px solid #666666;
        color: #e0e0e0 !important;
        cursor: pointer;
        border-radius: @button-border-rad;
    }
    #gb a.gb_0.gb_0:hover {
        box-shadow: inset 200px 200px rgba(255, 255, 255, .08);
        background-image: none;
    }
    #gb a.gb_0.gb_0:active {
        box-shadow: inset 200px 200px rgba(255, 255, 255, .16);
        background-image: none;
    }
    /*bottom bar*/
    .gb_ib {
        background-color: #161616;
        border-top-color: #333;
    }
}
