@-moz-document url-prefix("https://tasks.google.com/embed/"), url-prefix("https://tasks.google.com/u/0/embed/"), url-prefix("https://tasks.google.com/u/1/embed/"), url-prefix("https://tasks.google.com/u/2/embed/"), url-prefix("https://tasks.google.com/u/3/embed/"), url-prefix("https://tasks.google.com/u/4/embed/") {
/*TASKS*/
    /*header*/
    .B9yICe {
        background-color: @bg-color-surface;
        border-color: rgba(255,255,255,.12);
    }
    .B6U1Oc {
        color: #dedede;
    }
    .JbNP1e {
        color: #cccccc;
    }
    /*snackbar*/
    .Mh0NNb {
        background: #242424;
    }
    .x95qze {
        font-family: Roboto;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.25px;
        font-size: 0.875rem;
    }
    /*//intro//*/
    /*image*/
    .InfjEf {
    }
    /*title*/
    .CEzH6 {
        color: #e0e0e0;
    }
    /*description*/
    .I1Hdjf {
      color: #9e9e9e;
    }
    /*//----------//*/

    body {
        background-color: @bg-color-surface;
        color: white;
    }
    /*list item background*/

    .kpuJe {
        background-color: @bg-color-surface;
    }
    .kpuJe.OOHrV,
    .PYj7ue {
        background-color: @bg-color-surface;
    }
    /*no list border*/

    .kpuJe::before,
    PYj7ue::before {
        border-color: #212121;
    }
    .kpuJe:hover::before,
    .oxAbDf::before {
        border: none;
    }
    .Wde9Bc:not(.CWc3Zb) .BjZULd::after {
        background-color: #212121;
    }
    /*list item title*/

    .wYwLFe,
    .RwybPd {
        color: white;
    }
    /*list item text*/

    .bTI5jf,
    .qpGJsd,
    .rhGwLe {
        color: white;
    }
    .rPTMxb {
        color: #999;
    }
    /*list item hover*/

    .kpuJe:hover:not(.OOHrV),
    .kpuJe:focus:not(.OOHrV),
    .kpuJe.u3bW4e:not(.OOHrV),
    .oxAbDf:hover:not(.OOHrV),
    .oxAbDf:focus:not(.OOHrV),
    .oxAbDf.u3bW4e:not(.OOHrV) {
        box-shadow: 0 1px 2px 0 #0000004d, 0 2px 6px 2px #0000004d;
    }
    /*list item date or source*/
    .lq5Efd, .XKxdVe.QGRmIf, .zqDAFf.QGRmIf {
        background-color: #212121;
        border-color: #212121;
        &:hover {
            background-color: #242424;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .302),0 1px 3px 1px rgba(0, 0, 0, .149);
        }
    }
    lq5Efd.XEiI1b:focus {
        background-color: #212121;
    }
    .QHt4Fc .fzaxze {
        color: @text-color-blue;
    }
    .cHxrOd {
        color: #dedede;
    }
    /*list item link*/
    .KGNaf.MXZCbf.rhGwLe a {
        color: @text-color-blue;
    }
    /*sort by date headers*/
    .nnsg6 {
        background: none;
        .V9NiMc {
            color: #ccc;
        }
        .u2tuDe {
            color: #ff786f;
        }
    }
    /*white icons*/

    .EfSjgb, .UXfMHb, .EeFUTc {
        color: white;
        fill: #ffffffc2;
    }
    /*add task button*/

    .UhNUGe {
        background-color: #212121;
        border-radius: 2px;
    }
    .UhNUGe:hover, .UhNUGe:focus {
        background-color: #333;
    }
    /*//context menu//*/
    /*background*/

    .XvhY1d, .JPdR6b {
        background-color: #242424;
    }
    /*title*/

    .blBtle {
        color: #b8b8b8;
    }
    /*item*/

    .z80M1, .WBaDKd .uyYuVb {
        color: #dedede;
        font-family: Roboto;
    }
    .z80M1.FwR7Pc {
        color: #fff;
        background-color: #383838 !important;
    }
    .EgJP7b,
    .ASswV {
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    /*----------*/
    /*date header*/

    .PZqXCe {
        background-color: @bg-color-surface;
    }
    .pRU5He {
        color: #fff;
    }
    /*dialogue*/

    .g3VIld,
    .g3VIld .rFrNMe .aXBtI {
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: @bg-color-surface;
    }
    .tL9Q4c,
    .zHQkBf {
        color: white;
    }
    .AxOyFc {
        color: #fff9;
    }
    /* keyboard shortcuts*/

    .ZwS3pf,
    .hbgYmd {
        color: white;
    }
    .oQh2ud,
    .bNIZpe {
        color: #BDBDBD;
    }
    /*edit task*/

    .AkiGxc .Wic03c .tL9Q4c,
    .AkiGxc .oJeWuf,
    .U1lyme .oJeWuf,
    .Nm5pwe .lzIjk .LMgvRb,
    .Nm5pwe {
        background-color: #212121;
    }
    .Nm5pwe .lzIjk .oJeWuf {
        color: white;
    }
    .RaWQkc {
        color: #fff;
        opacity: .54;
    }
    /*calendar*/

    .FmNPqf {
        background-color: #242424;
        color: #fff;
    }
    /*completed*/

    .cbcjjb, .oXBvod.MdU9l .Sze5Fc {
        border-top: 1px solid #212121;
        background-color: @bg-color-surface;
        color: rgba(255, 255, 255, 0.8);
    }
    .AY4Dce:not(.sMVRZe), .oXBvod.MdU9l:not(.sMVRZe) {
        border-bottom: 1px solid #1c1c1c;
    }
    .DPvwYc {
        color: hsla(0, 0%, 100%, 0.9);
    }
    /*list dropdown text color*/
    .brC-brG-au1-aAI-a3v-K0 {
        color: #e0e0e0;
    }
    /*phone prompt*/
    .YWzfQ {
        background: #212121;
        border-radius: 0;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    }
    .Rj2Mlf:not(:disabled), .Rj2Mlf:hover:not(:disabled), .Rj2Mlf:focus:not(:disabled) {
        border-color: transparent;
    }
    .WmMI6, .Rj2Mlf {
        font-family: Roboto;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.25px;
        font-size: 0.875rem;
        height: 35px;
    }
    /*what's new*/
    .ICClvb {
        background-color: #212121;
    }
}
