//unchangebale variables
@text-color-blue: #78b4f8;
@hover-effect-dark: inset 10000px 0px 0px @hover-color-dark;
@active-effect-dark: inset 10000px 0px 0px @active-color-dark;
@hover-effect-light: inset 10000px 0px 0px @hover-color-light;
@active-effect-light: inset 10000px 0px 0px @active-color-light;

//these variables need to be removed when installed as user.css
//<<<usercss-strip
@appbar-color: transparent;
@unread-mail-text-color: #ffffff;
@fab-border-rad: 24px;
@side-tab-border-rad: 16px;
@doc-preview-border-rad: 16px;
@button-border-rad: 4px;
@label-border-rad: 0px;
@button-bg: #ff7c68;
@bg-color-1: #111;
@bg-color-surface: #2d2d2d;
@bg-color-context: #242424;
@bg-color-2: #212121;
@bg-color-3: #363636;
@bg-color-4: #424242;
@message-select: #ff7c68;
@fab-bg: #ff7c68;
@text-color-de: #dedede;
@text-color-b: #bbbbbb;
@text-color-c: #cccccc;
@text-color-9: #999999;
@text-color-6: #666666;
@fab-text: #000;
@hover-color-dark: rgba(0, 0, 0, .05);
@hover-effect-dark: inset 10000px 0px 0px @hover-color-dark;
@active-color-dark: rgba(0, 0, 0, .1);
@active-effect-dark: inset 10000px 0px 0px @active-color-dark;
@hover-color-light: rgba(255,255,255,.05);
@hover-effect-light: inset 10000px 0px 0px @hover-color-light;
@active-color-light:  rgba(255,255,255,.1);
@active-effect-light: inset 10000px 0px 0px @active-color-light;
@hover: rgba(255,255,255,0.1);
@active: rgba(255,255,255,0.2);
@selectedhover: rgba(255,255,255,0.3);
//>>>usercss-strip
